<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>


<!-- <h1>A heading</h1> for your most important heading -->
<!-- <h2>A sub-heading</h2> for a heading at the next level -->
<!-- <h3>A sub-sub-heading</h3> …and so on, up to <h6> -->
<!-- <p>A paragraph of text</p> -->
<!-- <em>text</em> emphasizes your text -->
<!-- <strong>text</strong> strongly emphasizes your text -->
<!-- <br /> goes to another line (you can't put anything inside br) -->
<!-- <a href="https://djangogirls.org">link</a> creates a link -->
<!-- <ul><li>first item</li><li>second item</li></ul> makes a list, just like this one! -->
<!-- <div></div> defines a section of the page -->
